@{
    ViewBag.Title = "Denver Dive Review";
    ViewBag.Message = "Reviewing Dive Bars since... wait, when was it?";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                We drink a lot. Probably too much. So we asked ourselves:
                what would it take to bring some legitmacy to our drinking habit? And then we: 
                let's make a website about drinking. Legitmate as fuck.
            </p>
        </div>
    </section>
}
<h3>What we stand for:</h3>
<ol class="round">
    <li class="one">
        <h5>Don't code unless you're drinking</h5>
        We're reviewing dive bars, would you trust us if we didn't drink?
    </li>

    <li class="two">
        <h5>Monthly bartab must be greater than the operating costs.</h5>
        Caveat: until we make enough money from this site to cover the bartabs.
    </li>

    <li class="three">
        <h5>Reviews must have a timeframe</h5>
        Bars are different at different times. If you're here at 5pm on a thursday, your review
        doesn't mean shit at midnight on a Saturday.
    </li>

    <li class="four">
        <h5>Don't plan ahead</h5>
        Waste of time, we'll figure it out. If you think you know how to do this better, get bent.
    </li>
</ol>
