@{
    ViewBag.Title = "Team";
}
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<h2>Team</h2>

<div>
    <img src="../../Images/drunk ass.jpg" height="200" width="200" style="float: left; margin-right: 20px"/>
    <div>
        <h3>Erik Johnson</h3>    
        <p>Erik has been professionally programming for a year and professionally drinking for 6.  With a semester abroad under his belt, he has seen pubs
            that don't even merit a designation.  He's been around the block and back and knows what to look for in a dive bar.
        </p>
    </div>
</div>
<div style="float: left">
    <div style="float: left; width: 75%">
        <h3>Jon Bullock</h3>
        <p>
            If this man's coding skills were half as good as his drinking skills, he would be the next Zuckerberg.  No stranger to the dive bar scene, Jon "The ginger who binges" Bullock has been repping shaddy establishments since he was tall enough to
            not get ID'd. If this man has an opinion on a dive bar, you can bet your sweet ass that it's a valid one. 
        </p>
    </div>
    <img src="../../Images/lamePhoto.jpg" height="200" width="200" style="float: right"/>
</div>
