<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="diveDb" 
         connectionString="Server=127.0.0.1;Port=5432;User Id=divedbuser;Password=div3r123!;Database=divedb;"
         providerName="Npgsql" />
  </connectionStrings>
<!--  <configSections>-->
<!--    ~1~ For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 @1@-->
<!--  </configSections>-->
  <system.data>
    <DbProviderFactories>
      <add name="PostgreSQL Data Provider" invariant="Npgsql"
         description=".Net Framework Data Provider for PostgreSQL"
         type="Npgsql.NpgsqlFactory, Npgsql, Version=4.0.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
    </DbProviderFactories>
  </system.data>
</configuration>